@model IEnumerable<EbayMVC.Models.Products>

@{
    ViewBag.Title = "Select Product to View";
    
}

<h2><img src="../../images.jpg" /></h2>

    <div id="container">
@foreach (var item in Model) {
    

        

	<div class="grid">
		<div class="imgholder">
			<img src=" @Html.DisplayFor(modelItem => item.gallery_url)" />
		</div>
		<strong>@Html.DisplayFor(modelItem => item.item_title)</strong>
		<p><a href=" @Html.DisplayFor(modelItem => item.listing_url)"> Click to view</a></p>
</div>
    
    
}
</div>
