@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
     To visit the project pages for this MVC website and its WCF backend service click the following links.
</p>
<ul>
    <li><a href="http://rfriedman.github.com/EbayFactory" >WCF Service</a></li>
    <li><a href="http://rfriedman.github.com/EbayMVC" >MVC Website</a></li>
</ul>